
  .range-slider {
    width: 300px;
    margin: auto;
    text-align: center;
    position: relative;
    height: 6em;
  }
  .range-slider svg,
  .range-slider input[type=range] {
    position: relative;
    left: 0;
    bottom: 0;
  }
  input[type=number] {
    border: 1px solid #ddd;
    text-align: center;
    font-size: 1.6em;
    -moz-appearance: textfield;
  }
  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  input[type=number]:invalid,
  input[type=number]:out-of-range {
    border: 2px solid #ff6347;
  }
  input[type=range] {
    -webkit-appearance: none;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #624AC9;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #624AC9;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #624AC9;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    background: #A5A5A5;
    border-radius: 1px;
    box-shadow: none;
    border: 0;
  }
  input[type=range]::-webkit-slider-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid #624AC9;
    height: 25px;
    width: 25px;
    border-radius: 25px;
    background: #624AC9;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -11px;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: #2497e3;
    border-radius: 1px;
    box-shadow: none;
    border: 0;
  }
  input[type=range]::-moz-range-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid #2497e3;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #A5A5A5;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower,
  input[type=range]::-ms-fill-upper {
    background: #2497e3;
    border-radius: 1px;
    box-shadow: none;
    border: 0;
  }
  input[type=range]::-ms-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid #A5A5A5;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #a1d0ff;
    cursor: pointer;
  }
  .simulador-range-buttons-section {
    display: flex;
    align-items: center;
}
.simulador-range-button {
    background: #D0021B;
    font-family: Tenda;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 14px;
    color: #FFFFFF;
    border-radius: 100px;
    width: 35px;
    height: 30px;
    border: inherit;
    cursor: pointer;
    transition: .5s;
}

.simulador-range-button:hover {
    background: #624ac9;
}
:focus {
    outline: inherit
}
.simulador-content-renda {
  width: 330px;
  margin: auto;
  height: 360px;
  align-items: center;
}